{{!-- 
   <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="Username" name="Username" value="{{this.Username}}" placeholder="username">
            <label for="floatingInput">Username</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="Parola" name="Parola" value="{{this.Parola}}" placeholder="parola">
            <label for="floatingInput">Parola</label>
        </div>
    </div> --}}
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="Nume" name="Nume" value="{{this.Nume}}" placeholder="nume">
            <label for="floatingInput">Nume</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="Prenume" name="Prenume" value="{{this.Prenume}}" placeholder="prenume">
            <label for="floatingInput">Prenume</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="Adresa" name="Adresa" value="{{this.Adresa}}" placeholder="adresa">
            <label for="floatingInput">Adresa</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="Mail" name="Mail" value="{{this.Mail}}" placeholder="mail">
            <label for="floatingInput">Email</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="Telefon" name="Telefon" value="{{this.Telefon}}" placeholder="telefon">
            <label for="floatingInput">Telefon</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="Data_nasterii" name="Data_nasterii" value="{{this.Data_nasterii}}" placeholder="data_nasterii">
            <label for="floatingInput">DATA NASTERII (YEAR-MONTH-DAY)</label>
        </div>
    </div>
    <div class="col-12 d-grid">
        <button class="btn btn-primary" type="submit">Creeaza</button>
        {{!-- <button class="btn btn-primary" type="submit" href="/edituser/{{this.ID_Angajat}}">Creeaza</button> --}}
    </div>